body {
    font-family: 'Arial', sans-serif;
    background-color: #f8e0e0;
    color: #444;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.poem {
    margin-top: 20px;
}

.bubble {
    background-color: #e4f0f1;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.bubble-yellow {
    background-color: #f0f0a2;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.bubble p {
    margin: 0;
    line-height: 1.5;
}

h1 {
    text-align: center;
    color: #c63c3c;
}

.boton {
    display: block;
    width: 150px;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px auto;
}